<!-- <h1>my first component page</h1> -->
<!-- <app-header></app-header>
<main>
  <app-post-create (postCreated)="onPostAdded($event)"> </app-post-create>
  <app-post-list [posts]="storedPost"></app-post-list>
</main> -->

<!-- working of onInIt angular hooks -->
<app-header></app-header>
<main>
  <!-- router outlet used to provide hook to render a perticular content by clicking links from toolbar -->
  <router-outlet>

    <!-- <app-post-create > </app-post-create>
    <app-post-list></app-post-list> -->
  </router-outlet>
</main>
